.sider 
    .inner-menu 
        ul
            li
                a(href="/admin/dashboard") Trang tổng quan 
            li
                a(href="/admin/products-category") Danh mục sản phẩm
            li
                a(href="/admin/products") Danh sách sản phẩm
            li
                a(href="/admin/roles") Danh sách nhóm quyền